body {
  background-color: #e2ecf6;
}
.login-container {
  width: 90%;
  max-width: 400px;
  max-height: 600px;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.herb-img {
  width: 30rem;
  height: 35rem;
  border-radius: 15px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

img.herb-img-detail {
  width: 35rem;
  height: 26rem;
  border-radius: 15px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.user-img {
  border-radius: 50%;
  width: 250px;
  height: 235px;
  margin: 0 auto;
}

.userImg {
  border-radius: 50%;
}

#group-icon {
  width: 250px;
  height: 172px;
  margin: 10px auto 0 auto;
}

#content-center {
  margin: 2px auto;
}

.report-card-img {
  height: 130px;
  border-radius: 50%;
  width: 150px;
}
